.copyright
    background $azul
    padding 10px 0
    .center
        clearfix()
    p
        lato 10
        color #fff
        margin 0
        display inline-block
        a:hover
            color $amarelo
        &:first-child
            float left
        &:last-child
            float right
        +mobile()
            display block
            width 100%
