header
    +above($tablet)
        &.fixed
            position fixed
    z-index 105
    height 100px
    width 100%
    top 0
    left 0
    background $azul
    border-bottom 1px solid #fff
    .center
        position relative
        height 100%
    .logo
        display block
        width 190px
        height 100%
        position absolute
        text-indent -9999px
        background $img('marca-talenco-topo.png') no-repeat center
        +mobile()
            width 150px
            background-size 150px auto
    #nav-desktop
        float right
        padding-top 55px
        position relative
        height 100%
        clearfix()
        +below($tablet)
            display none
        a
            float left
            display inline-block
            lato 12 light
            letter-spacing 1px
            color #fff
            margin-right 20px
            position relative
            &.active:after
                content ''
                position absolute
                left 50%
                margin-left -20px
                bottom -34px
                width 40px
                height 5px
                border-radius 2px
                background $amarelo
    .lang
        position absolute
        width 16px
        height 16px
        text-indent -9999px
        right 2px
        top 20px
        +below($tablet)
            right 46px
            top 53px
        &.lang-pt
            background $img('pt.png') no-repeat center
        &.lang-en
            background $img('en.png') no-repeat center
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        height 19px
        width 28px
        outline 0
        padding 0
        cursor pointer
        position absolute
        right 0
        top 51px
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #fff
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    .icones
        position relative
        float right
        font-size 0
        margin-top 52px
        +below($tablet)
            position absolute
            right 0
            top 18px
            margin 0
            float none
        a
        span
            display inline-block
            width 20px
            height 19px
            text-indent -9999px
            border none
            transition transform .3s
            margin-left 2px
            vertical-align top
            &:first-child
                margin-left 0
            &:hover
                transform translateY(-4px)
            &.facebook
                background $img('facebook-20x20px.png') no-repeat center
            &.instagram
                background $img('instagram-20x20px.png') no-repeat center
            &.linkedin
                background $img('linkedin-20x20px.png') no-repeat center
            &.pinterest
                background $img('pinterest-20x20px.png') no-repeat center
            &.telefone
                background $img('phone-20x20px.png') no-repeat center

#nav-mobile
    +above($tablet)
        display none !important
    display none
    background $azul
    box-shadow 0 3px 4px rgba(#000, .15)
    padding 25px 0
    position absolute
    width 100%
    left 0
    z-index 110
    top 100px
    > a
        display block
        lato 14 light
        text-transform uppercase
        color #fff
        text-align center
        margin 0 0 4px
        &.active
            color $amarelo
