normalize()

*
*:after
*:before
    box-sizing border-box

::selection
    background $amarelo
    color #fff

::-moz-selection
    background $amarelo
    color #fff

.not-found
    position absolute
    background #eee
    top 0
    left 0
    width 100%
    height 100%
    display table
    .wrapper
        display table-cell
        vertical-align middle
        text-align center
        h1
            margin 0
            display inline-block
            border 2px solid $azul
            lato 14
            color $azul
            text-transform uppercase
            padding 10px 22px
