desktop-base-width     = 1180px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul    = #154A65
$amarelo = #E3B94D
$verde   = #18B5C4

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900')

lato($size, $weight = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
    if $weight == black
        font-weight 900
