#home
    +above($tablet)
        padding-top 100px

.banners
    width 100%
    height 695px
    position relative
    background $azul
    +tablet()
        height 600px
    +mobile()
        height 350px
    .slide
        width 100%
        height 100%
        position absolute
        display table
        background-size cover
        background-position center
        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-image linear-gradient($azul 0%, transparent 100%)
            z-index 102
        .table
            display table
            width 100%
            height 100%
        .table-cell
            display table-cell
            vertical-align middle
            text-align center
        .texto
            display inline-block
            max-width 600px
            text-align center
            position relative
            z-index 104
            +tablet()
                max-width 400px
            +mobile()
                max-width calc('100% - 110px')
            &:before
                content ''
                position absolute
                top 0
                left -30px
                width 5px
                height 100%
                border-top 2px solid #fff
                border-bottom 2px solid #fff
                border-left 2px solid #fff
            &:after
                content ''
                position absolute
                top 0
                right -30px
                width 5px
                height 100%
                border-top 2px solid #fff
                border-bottom 2px solid #fff
                border-right 2px solid #fff
            h2
                lato 36 light
                color #fff
                margin 0 0 10px
                strong
                    lato 36 bold
                    color $amarelo
                +tablet()
                    font-size 30px
                    strong
                        font-size 30px
                +mobile()
                    font-size 22px
                    strong
                        font-size 22px
            p
                lato 18
                color #fff
                margin 0
                +tablet()
                    font-size 16px
                +mobile()
                    font-size 14px
    .cycle-prev
        width 21px
        height 58px
        text-indent -9999px
        position absolute
        z-index 104
        top 50%
        left 50%
        margin-left -590px
        margin-top -29px
        background $img('seta-esquerda-banner.png')
        cursor pointer
        +tablet()
            left 5%
            margin-left 0
        +mobile()
            display none
    .cycle-next
        width 21px
        height 58px
        text-indent -9999px
        position absolute
        z-index 104
        top 50%
        right 50%
        margin-right -590px
        margin-top -29px
        background $img('seta-direita-banner.png')
        cursor pointer
        +tablet()
            right 5%
            margin-right 0
        +mobile()
            display none
