.como-fazemos
    padding 50px 0 85px
    background $img('como-fazemos.png') no-repeat center top
    background-size cover
    +mobile()
        padding 25px 0 50px
    +tablet()
        padding 50px 0 60px
    h2
        text-align center
        color $azul
        margin 0 0 30px
        lato 24 bold
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
            line-height 1.4
            margin-bottom 20px
        span
            padding 0 160px
            background $img('elemento-titulo-esquerdo.png') no-repeat center left, $img('elemento-titulo-direito.png') no-repeat center right
            +tablet()
                padding 0 100px
                background-size 80px auto
            +mobile()
                padding 0
                background none
    p
        width 100%
        margin 0 auto
        max-width 700px
        lato 14
        text-align center
        color $azul
        + p
            margin-top .8em
    .colunas
        margin 40px 0 0
        font-size 0
        text-align center
        +mobile()
            margin-top 30px
        h3
            margin 0 0 1em
            lato 16 bold
            color $azul
            position relative
            padding-bottom 1em
            &:after
                content ''
                position absolute
                bottom 0
                width 50px
                height 2px
                background $azul
                left 50%
                transform translateX(-50%)
            +mobile()
                margin 0 0 12px
                padding-bottom 12px
        > div
            display inline-block
            text-align center
            width calc('20% - 32px')
            margin-right 40px
            vertical-align top
            &:last-child
                margin-right 0
            +tablet()
                width calc('33.333% - 26.667px')
                margin-bottom 40px
                &:last-child
                    margin-right 40px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                margin 0
                width 100%
                + div
                    margin-top 25px
                    h3
                        font-size 15px
