.contato
    background $amarelo
    width 100%
    position relative
    padding 35px 0
    +mobile()
        padding 25px 0 0
    .mapa
        position absolute
        right 0
        top 0
        width calc('50% - 100px')
        border-left 8px solid #fff
        height 100%
        +tablet()
            width 50%
        iframe
            display block
            width 100%
            height 100%
            .place-card
                display none !important
        +mobile()
            position relative
            width 100%
            height 250px
            border none
    .center
        clearfix()
    .links
        width 360px
        float left
        +below($tablet)
            display none
        span
            lato 24 bold
            display block
            color $azul
            margin 24px 0 12px
            &:first-child
                margin-top 0
        p
            margin 0
            lato 16 bold
            color $azul
        a
            lato 14
            color $azul
            display block
            &:hover
                text-decoration underline
    form
        width 290px
        float left
        +tablet()
            width calc('50% - 45px')
        +mobile()
            width 100%
            padding-bottom 25px
        clearfix()
        p
            margin 0 0 12px
            lato 24 bold
            color $azul
            line-height 1.15
            text-align center
            +tablet()
                font-size 20px
            +mobile()
                font-size 18px
        input[type=text]
        input[type=email]
        textarea
            width 100%
            height 52px
            border 1px solid $azul
            outline 0
            padding 0 12px
            color $azul
            display block
            resize none
            background transparent
            margin-bottom 5px
            lato 13 bold
            +placeholder()
                color rgba($azul, .7)
        textarea
            padding 16px 12px
            height 125px
        input[type=submit]
            float right
            width 132px
            height 45px
            background $azul
            border 0
            outline 0
            cursor pointer
            color #fff
            lato 14 bold
            border 2px solid $azul
            text-transform uppercase
            transition background .3s, color .3s
            &:hover
                background $amarelo
                color $azul
