.depoimentos
    padding 50px 0 75px
    +mobile()
        padding 25px 0 40px
    +tablet()
        padding 50px 0 60px
    h2
        text-align center
        color $azul
        margin 0 0 30px
        lato 24 bold
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
            line-height 1.4
            margin-bottom 20px
        span
            padding 0 160px
            background $img('elemento-titulo-esquerdo.png') no-repeat center left, $img('elemento-titulo-direito.png') no-repeat center right
            +tablet()
                padding 0 100px
                background-size 80px auto
            +mobile()
                padding 0
                background none
    .depoimentos-slick
        position relative
        padding-bottom 50px
        +mobile()
            padding-bottom 40px
        .slick-prev
        .slick-next
            position absolute
            bottom -12px
            text-indent -9999px
            transition border .3s
        .slick-prev
            width 0
            height 0
            border-style solid
            border-width 6px 12px 6px 0
            border-color transparent $azul transparent transparent
            left calc('50% - 13px')
            transform translateX(-50%)
            &:hover
                border-color transparent $amarelo transparent transparent
        .slick-next
            width 0
            height 0
            border-style solid
            border-width 6px 0 6px 12px
            border-color transparent transparent transparent $azul
            left calc('50% + 13px')
            transform translateX(-50%)
            &:hover
                border-color transparent transparent transparent $amarelo
        .depoimento-item
            display block
            margin 0 15px
            outline 0
            color $azul
            .video
                position relative
                width 100%
                height 0
                padding-bottom 71.155%
                overflow hidden
                iframe 
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            .imagem
                width 100%
                height 0
                padding-bottom 71.155%
                background #eee
                position relative
                overflow hidden
                img
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height auto
                    display block
            h3
                lato 15 bold
                margin 24px 0 3px
            h4
                lato 13
                margin 0 0 24px
            p
                lato 14
                margin 0
