.empresa
    padding 50px 0
    +mobile()
        padding 25px 0
    h2
        text-align center
        color $azul
        margin 0 0 30px
        lato 24 bold
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
            line-height 1.4
            margin-bottom 20px
        span
            padding 0 160px
            background $img('elemento-titulo-esquerdo.png') no-repeat center left, $img('elemento-titulo-direito.png') no-repeat center right
            +tablet()
                padding 0 100px
                background-size 80px auto
            +mobile()
                padding 0
                background none
    p
        width 100%
        margin 0 auto
        max-width 700px
        lato 14
        text-align center
        color $azul
        + p
            margin-top .8em
