.fale-conosco
    background $azul
    padding 55px 0
    +mobile()
        padding 25px 0
    .center
        clearfix()
    .info
        float left
        width calc('100% - 290px')
        h2
            lato 24 bold
            color #fff
            margin 0
            span
                background $img('elemento-titulo-branco.png') no-repeat center right
                padding-right 165px
        +tablet()
            h2
                font-size 20px
                span
                    padding-right 100px
                    background-size 80px auto
        +mobile()
            width 100%
            h2
                text-align center
                font-size 18px
                span
                    padding 0
                    background none
        p
            lato 14
            color #fff
            max-width 400px
            &.endereco
                margin 0
                lato 14 bold
                padding-left 22px
                position relative
                &:before
                    content ''
                    position absolute
                    top 50%
                    left 0
                    transform translateY(-50%)
                    width 0
                    height 0
                    border-style solid
                    border-width 5px 0 5px 10px
                    border-color transparent transparent transparent #fff
    .icones
        width 290px
        float right
        text-align right
        font-size 0
        padding-top 42px
        +mobile()
            width 100%
            float left
            padding-top 25px
            text-align left
        a
        span
            display inline-block
            width 50px
            height 50px
            text-indent -9999px
            border none
            transition transform .3s
            margin-left 10px
            vertical-align top
            +mobile()
                width 35px
                height 35px
                background-size 35px 35px !important
                margin-left 6px
            &:first-child
                margin-left 0
            &:hover
                transform translateY(-6px)
            &.facebook
                background $img('facebook-50x50px.png') no-repeat center
            &.instagram
                background $img('instagram-50x50px.png') no-repeat center
            &.linkedin
                background $img('linkedin-50x50px.png') no-repeat center
            &.pinterest
                background $img('pinterest-50x50px.png') no-repeat center
            &.telefone
                background $img('phone-50x50px.png') no-repeat center

.tipso_bubble
    lato 16
