.newsletter-home
    background $azul
    position relative
    +mobile()
        overflow hidden
    h2
        text-align center
        color #fff
        padding 30px 0 90px
        margin 0
        lato 24 bold
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
            line-height 1.4
            padding 25px 0 20px
        span
            padding 0 160px
            background $img('elemento-titulo-esquerdo.png') no-repeat center left, $img('elemento-titulo-direito.png') no-repeat center right
            +tablet()
                padding 0 100px
                background-size 80px auto
            +mobile()
                padding 0
                background none
    form
        background $amarelo
        width calc('100% - 140px')
        height 135px
        position absolute
        bottom -67px
        left 50%
        transform translateX(-50%)
        padding 44px 80px
        +tablet()
            padding 44px 20px
        +mobile()
            width 150%
            margin-left -25%
            padding 20px 2px
            padding-left 25%
            padding-right 25%
            height auto
            position relative
            bottom auto
            left 0
            transform none
        clearfix()
        &:before
            content ''
            position absolute
            top 0
            left -35px
            width 0
            height 0
            border-style solid
            border-width 67.5px 35px 67.5px 0
            border-color transparent $amarelo transparent transparent
        &:after
            content ''
            position absolute
            top 0
            right -35px
            width 0
            height 0
            border-style solid
            border-width 67.5px 0 67.5px 35px
            border-color transparent transparent transparent $amarelo
        input[type=text]
        input[type=email]
            float left
            width calc('50% - 95px')
            height 47px
            border 1px solid $azul
            background transparent
            outline 0
            lato 14
            color $azul
            margin-right 20px
            padding 0 12px
            +placeholder()
                color rgba($azul, .5)
            +mobile()
                width 100%
                float none
                margin-right 0
                margin-bottom 4px
        input[type=submit]
            width 150px
            height 47px
            border 1px solid $azul
            float left
            background transparent
            transition background .3s, color .3s
            lato 14
            color $azul
            cursor pointer
            outline 0
            +mobile()
                width 100%
                float none
            &:hover
                background $azul
                color $amarelo
