.o-que-fazemos
    padding 50px 0
    background $img('o-que-fazemos.png') no-repeat center top $azul
    background-size cover
    +mobile()
        padding 25px 0
    h2
        text-align center
        color #fff
        margin 0 0 30px
        lato 24 bold
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
            line-height 1.4
            margin-bottom 20px
        span
            padding 0 160px
            background $img('elemento-titulo-branco-esquerdo.png') no-repeat center left, $img('elemento-titulo-branco.png') no-repeat center right
            +tablet()
                padding 0 100px
                background-size 80px auto
            +mobile()
                padding 0
                background none
    p
        width 100%
        margin 0 auto
        max-width 700px
        lato 14
        text-align center
        color #fff
        + p
            margin-top .8em
    .icones
        margin 30px auto 0
        width 100%
        max-width 1070px
        clearfix()
        > div
            width 33.333%
            float left
            text-align center
            padding 0 60px
            +tablet()
                padding 0 30px
            h3
                lato 16 bold
                color #fff
            +above($mobile)
                &:nth-child(2)
                    img
                        padding-bottom 23px
                &:nth-child(3)
                    img
                        padding-bottom 18px
            +mobile()
                width 100%
                padding 0
                h3
                    font-size 15px
                    margin .8em 0
                + div
                    margin-top 35px
