.projetos
    width 100%
    height 550px
    background $amarelo
    margin-bottom 10px
    +mobile()
        margin-bottom 0
        height auto
    .center
        position relative
        height 100%
    h2
        position absolute
        display block
        width 610px
        height 60px
        line-height 60px
        background $azul
        color #fff
        top -30px
        left 0
        margin 0
        span
            background $img('elemento-titulo-branco.png') no-repeat center right
            padding-right 165px
        +tablet()
            width 400px
            font-size 20px
            span
                padding-right 100px
                background-size 80px auto
        +mobile()
            width 150px
            font-size 18px
            height 50px
            line-height 50px
            top -25px
            span
                padding 0
                background none
        &:before
            content ''
            position absolute
            top 0
            left -800px
            width 800px
            height 100%
            background $azul
        &:after
            content ''
            position absolute
            top 0
            right -22px
            width 0
            height 0
            border-style solid
            border-width 30px 0 30px 22px
            border-color transparent transparent transparent $azul
            +mobile()
                border-width 25px 0 25px 22px
    .projetos-capas
        width 100%
        height 550px
        position absolute
        top 0
        right 50%
        +tablet()
            right 45%
        img
            left auto !important
            right 0
        +mobile()
            width 111%
            height auto
            position relative
            right auto
            margin-left -5.5%
            img
                width 100%
        #prev
            position absolute
            bottom 20px
            right 55px
            width 0
            height 0
            border-style solid
            border-width 6px 12px 6px 0
            border-color transparent #fff transparent transparent
            text-indent -9999px
            transition border .3s
            &:hover
                border-color transparent $azul transparent transparent
            +mobile()
                right 40px
        #next
            position absolute
            bottom 20px
            right 30px
            width 0
            height 0
            border-style solid
            border-width 6px 0 6px 12px
            border-color transparent transparent transparent #fff
            text-indent -9999px
            transition border .3s
            &:hover
                border-color transparent transparent transparent $azul
            +mobile()
                right 20px
    .detalhe-1
        position absolute
        height 50%
        width 180px
        background $amarelo
        top 0
        right calc('50% - 100px')
        transform skew(20deg)
        border-left 10px solid #fff
        +tablet()
            right calc('45% - 100px')
        +mobile()
            display none
    .detalhe-2
        position absolute
        height 50%
        width 180px
        background $amarelo
        bottom 0
        right calc('50% - 100px')
        transform skew(-20deg)
        border-left 10px solid #fff
        +tablet()
            right calc('45% - 100px')
        +mobile()
            display none
    .projetos-descricao
        width 42%
        float right
        position relative
        padding-top 75px
        +tablet()
            padding-top 65px
        +mobile()
            width 100%
            float none
            padding 25px 0
        img
            display block
            margin-bottom 20px
        h3
            lato 24 bold
            color $azul
            margin 0 0 40px
            +tablet()
                font-size 20px
                margin-bottom 35px
            +mobile()
                font-size 18px
                margin-bottom 20px
        p
            lato 16
            color $azul
            width 100%
            max-width 400px
            margin 0 0 45px
            +tablet()
                font-size 15px
                margin-bottom 40px
            +mobile()
                font-size 15px
                margin-bottom 30px
        a
            display inline-block
            border 1px solid $azul
            transition background .3s, color .3s
            color $azul
            lato 16 bold
            padding 10px 22px
            &:hover
                background $azul
                color #fff
