.unidades
    background $img('unidades-de-negocio.png') no-repeat center top
    background-size cover
    padding 135px 0 100px
    +mobile()
        padding 25px 0
    +tablet()
        padding 110px 0 70px
    h2
        text-align center
        color $azul
        margin 0 0 30px
        lato 24 bold
        +tablet()
            font-size 20px
        +mobile()
            font-size 18px
            line-height 1.4
            margin-bottom 20px
        span
            padding 0 160px
            background $img('elemento-titulo-esquerdo.png') no-repeat center left, $img('elemento-titulo-direito.png') no-repeat center right
            +tablet()
                padding 0 100px
                background-size 80px auto
            +mobile()
                padding 0
                background none
    .texto
        p
            lato 14
            margin 0 auto
            text-align center
            color $azul
            width 100%
            max-width 750px
            + p
                margin-top .5em
    .unidades-lista
        width 100%
        max-width 940px
        margin 40px auto 0
        display flex
        flex-wrap wrap
        +mobile()
            margin-top 25px
        > div
            width calc('33.333% - 20px')
            float left
            margin-right 30px
            margin-bottom 65px
            background #fff
            border-bottom 3px solid $amarelo
            position relative
            +mobile()
                width 100%
                margin-right 0
                margin-bottom 70px
                + div
                    margin-top 20px
            &:last-child
                margin-right 0
        a
            position absolute
            display inline-block
            bottom -68px
            left 50%
            transform translateX(-50%)
            background $azul
            width 175px
            height 48px
            text-align center
            line-height 48px
            color #fff
            lato 14
            transition color .3s, background .3s
            +mobile()
                bottom -60px
            &:hover
                background $amarelo
                color $azul
        .imagem
            position relative
            img
                width 100%
                display block
            &:before
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 80%
                background-image linear-gradient(180deg, $azul 0%, transparent)
                z-index 2
            span
                position absolute
                top 30px
                width 100%
                display block
                text-align center
                color #fff
                lato 21 bold
                z-index 3
                &:after
                    content ''
                    position absolute
                    bottom -20px
                    left 50%
                    transform translateX(-50%)
                    width 40px
                    height 2px
                    background #fff
        .logo
            padding 20px 0
            border-bottom 1px solid $azul
            text-align center
            width calc('100% - 30px')
            margin 0 auto
            text-align center
            img
                max-width 100%
        .texto
            padding 20px 10px
            lato 14
            color $azul
            text-align center
            line-height 1.3
